{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<title>Operation Squid - {{ title }}</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<style>body {
		padding-top: 50px;
	}</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#navbar-collapsible">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'events:index' %}">SME</a>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="navbar-collapsible">
			<ul class="navbar-nav nav">
				<li><a href="{% url 'events:index' %}">Open Events</a></li>

				{% if user.is_authenticated %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Your events <span
								class="badge">{{ user_events_active|length }}</span></a>
						<ul class="dropdown-menu">
							{% if user_events_active %}
								{% for event in user_events_active %}
									<li class="bg-{{ event.related_event.GetOpenTag }}"><a
											href="{% url 'live:index' event.related_event.id %}">{{ event.related_event }}</a>
									</li>
								{% endfor %}
							{% else %}
								<li><p class="navbar-text">There's nothing!</p></li>
							{% endif %}
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"
						   role="button">Hi {{ user.first_name }} <span class="caret"></span> </a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'user:index' %}">Your page</a></li>
							<li class="divider"></li>
							{% if user.privilege.level > 1 %}
								<li><a href="{% url 'overseer:index_general' %}">Overseer</a></li>
								{% if user.is_superuser %}
									<li><a href="{% url 'admin:index' %}">Admin</a></li>
								{% endif %}
								<li class="divider"></li>
							{% endif %}
							<li><a href="{% url 'user:logout' %}">Log out</a></li>
						</ul>
					</li>
				{% else %}
					<li><a href="{% url 'user:login' %}">Log in</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	{% block content %}

	{% endblock %}
</div>
<div class="container-fluid">
	{% block content-full %}

	{% endblock %}
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>